.button-custom {
    background-color: #1976d2;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    forn-size: 1rem;
    transition: background 0.2s;
}

.button-custom:hover {
    background-color: #1565c0
}